---
layout: default
---

<!-- background image -->
<div class="home-splash"></div>

<!-- search and -->
<!-- where to start -->
<section class="search_form section-home-search">

  <div class="container search-form-intro u-align_c">

    <h1 class="large_heading">Find the right college fit.</h1>

  </div>

  <div class="search-box-container">

    <div class="form-wrapper">

      <form id="search-form" is="search-form" class="home-search-two_col-left"
        autocomplete="false"
        action="{{ site.baseurl }}/search/" method="GET">

        <input type="hidden" name="under_investigation">

        <legend>Explore schools</legend>
        <h2 class="search-header">I want to explore.</h2>

        {% include search-form.html %}

      </form>

    </div>

    <div class="form-wrapper">

      <form id="search-name-form" is="search-name-form" class="home-search-two_col-right"
            autocomplete="false"
            action="{{ site.baseurl }}/search/" method="GET">

        <legend>Find school by name</legend>
        <h2 class="search-header">I have a school in mind.</h2>
        
        {% include search-name-form.html %}

      </form>

    </div>

  </div>

</section>

<div class="clearfix"></div>

<!-- by the numbers -->
<div>
  <section class="section section-home-facts">

    <div class="container">

      <h1>Did You Know?</h1>

      <ul>
        <li class="aid">
          <img src="{{ site.baseurl }}/img/application.svg" alt="Application">
          You could be eligible for up to
          <strong>$6,095</strong>
          <strong class="less-strong">for free</strong>
          <div class="fact-words">in Pell grants to help pay
          for college. <span>No repayment needed!</span></div>
        </li>
        <li class="grad">
          <img src="{{ site.baseurl }}/img/cap.svg" alt="Graduation cap">
          <strong>40%</strong>
          <strong class="less-strong">of undergraduates</strong>
          <div class="fact-words">are <span>24 years or older</span>?</div>
        </li>
        <li class="apprenticeships">
          <img src="{{ site.baseurl }}/img/apprenticeships.svg" alt="Wrench">
            <strong>Apprenticeships</strong>
            <div class="fact-words">are another great option to jumpstart your career.</div>
            <a href="https://www.apprenticeship.gov/apprenticeship-finder" target="_blank" rel="noopener"><strong class="less-strong">Find one that’s right for you.</strong></a>
        </li>
      </ul>

    </div>

  </section>
</div>

<!-- check out these schools -->
<!-- and paying for college -->
<div class="home-bg-gray">

  <div class="container">

    <section class="section section-home-paying">

      <div>

        <div>

          <h1>Paying For College</h1>

          <div class="section-home-paying-content">

            <div class="u-align_c">

              <a href="https://studentaid.ed.gov/sa/types#aid-from-the-federal-government" class="button button-outline" target="_blank">
                Types of Financial Aid</a>
              <a href="https://fafsa.ed.gov/FAFSA/app/f4cForm" class="button button-outline" target="_blank">
                Calculate Your Aid</a>
              <a href="https://fafsa.ed.gov/" class="button button-outline" target="_blank">
                Start My FAFSA</a>
              <a href="https://www.vets.gov/gi-bill-comparison-tool" class="button button-outline" target="_blank">
                GI Bill&reg; Benefits</a>

            </div>

          </div>

        </div>

      </div>

    </section>

    <section class="section section-home-toolkit">

      <div>

        <div>

          <h1>Toolkit</h1>
            
            <div class="section-home-toolkit-content">

              <p class="u-align_c">Want to share the College Scorecard with others?</p>
              <p class="u-align_c">Here’s a toolkit to help you disseminate information through emails, social media, and events.</p>

              <div class="u-align_c">

                <a href="{{ site.baseurl }}/assets/College-Scorecard-Toolkit.pdf" class="button button-outline" target="_blank">
                  Download PDF</a>

            </div>

          </div>

        </div>

      </div>

    </section>

  </div>

</div>

<script>
  picc.pages.index();
</script>
