.compare-bg {
  background-color: $white;
  padding-bottom: $base-padding;

  .fotw-wrapper {
    display: none;
  }

  .fotw-wrapper[data-fotw] {
    display: inline-block;
  }
}

.header-controls {
  padding-top: $base-padding;

  .fotw-wrapper {

    .fa {
      color: $green;
    }

    .fotw-link {
      color: $base-link-color;

      &:hover {
        color: $hover-link-color;
      }
    }
  }
}

.compare-schools {
  @include outer-container();
  overflow-x: auto;

}

.schools-compare_selected-list {
  display: table;
  table-layout: fixed;

  .assembly-line {
    display: table-row;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;

    .assembly-item {

      display: table-cell;
      vertical-align: top;
      text-align: left;
      white-space: normal;
      word-wrap: break-word;
      margin: 0 auto;
      padding: 15px;
      border: 1px solid $mid-dark-gray;
      width:200px;
      max-width: 200px;

    }

  }

  .selected-school-info {

    .fotw-wrapper[data-fotw] {
      text-align: center;
      display: block;

      .button-fotw_schools {
        float: inherit;
      }
    }

  }

  .meter-wrapper {

    .picc-meter-line {

      .label {
        display: none;
      }

    }

  }
}
